<%namespace name='static' file='../static_content.html'/>
<%page expression_filter="h"/>
<%! from django.utils.translation import gettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">Preguntas Frecuentes</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1 class="encabezado">Preguntas Frecuentes</h1>
        <div class="tab">

            <div class="opcion_top active" onclick="openCity(event, 'estudiantes')">
                <i class="fas fa-graduation-cap" aria-hidden="true"></i>
                <div></div>
                <span id="defaultOpen">Estudiantes</span>
            </div>
            <div class="opcion_top" onclick="openCity(event, 'cursos')">
                <i class="fas fa-laptop" aria-hidden="true"></i>
                <div></div>
                <span>Referente a los cursos</span>
            </div>
            <div class="opcion_top" onclick="openCity(event, 'creditos')">
                <i class="fas fa-award" aria-hidden="true"></i>
                <div></div>
                <span>Constancias y créditos</span>
            </div>
        </div>
        <div class="tab">
            <div class="opcion_top" onclick="openCity(event, 'cuentas')">
                <i class="fas fa-question-circle" aria-hidden="true"></i>
                <div></div>
                <span>Preguntas sobre las cuentas</span>
            </div>
            <div class="opcion_top" onclick="openCity(event, 'asesores')">
                <i class="fas fa-users" aria-hidden="true"></i>
                <div></div>
                <span>Asesores de cursos</span>
            </div>
            <div class="opcion_top" onclick="openCity(event, 'sesion')">
                <i class="far fa-newspaper" aria-hidden="true"></i>
                <div></div>
                <span>Cursos validados por USICAMM</span>
            </div>
        </div>
        <div id="estudiantes" class="tabcontent" style="display: block;">
            <center><h2>Estudiantes</h2></center>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Quién puede tomar un curso de MéxicoX?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">Los cursos están abiertos a todo público. Lo que necesitas tener es acceso a una
                            computadora con un navegador actualizado como Firefox o Chrome, una conexión a internet, que
                            hayas elegido un curso y muchas ganas de aprender. </p>
                        <p class="main">Lo único que tienes que hacer es crear una cuenta de MéxicoX y registrarte para
                            el curso de tu elección. ¡Los cursos son gratuitos!</p>
                    </div>
                </div>
            </div>

            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Cuesta dinero tomar un curso?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">No, los cursos son totalmente gratuitos.</p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Los cursos de MéxicoX son en español?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">Sí. </p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Tienen transcripción los cursos de MéxicoX?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">Procuramos que todos los videos de todos los cursos alojados en MéxicoX
                            contengan transcripciones.</p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Cuáles son las recomendaciones mínimas de su equipo de
                    cómputo para tomar un curso en MéxicoX?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">Se recomienda utilizar las últimas versiones de los navegadores Firefox o Google
                            Chrome para un mejor desempeño.</p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>Vivo en un lugar donde YouTube está restringido, ¿Puedo
                    ver los videos?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">En lugares donde YouTube esté restringido, no serás capaz de ver los videos en
                            streaming, pero hay algunos segmentos que se pueden descargar.</p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Puedo acceder a los cursos de MéxicoX con mi teléfono
                    inteligente o tableta?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">La página MéxicoX está disponible para visualizarce desde tu smartphone o
                            tableta, sin embargo se recomienda utilizar un equipo de cómputo de escritorio o laptop para
                            disfrutar de los cursos.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="cursos" class="tabcontent" style="display: none;">
            <center><h2>Referente a los Cursos</h2></center>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Cómo inicio sesión para tomar un curso de MéxicoX?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">Una vez que te inscribas a un curso y actives tu cuenta, haz click en el botón
                            “Iniciar Sesión”, en la página principal de MexicoX, escribe tu dirección de correo
                            electrónico y contraseña con la que te registraste en la plataforma. Esto te llevará al
                            panel de control, donde tendrás acceso a tus cursos activos, o bien, a “explorar cursos”
                            para que puedas considerar tomar algún otro.</p>
                        <p class="main">También puedes ver el siguiente videotutorial <a target="_blank"
                                                                                         href="https://www.youtube.com/watch?v=IoMa0NpBb2w">aquí</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Cuándo inicia o termina mi curso?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">Podrás encontrar la fecha de inicio y duración para cada curso en la página de
                            descripción del mismo. Si estás registrado en uno, también verás su fecha de inicio en el
                            tablero.</p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Cuánta carga de trabajo tendré para aprobar un curso?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">Las horas previstas de estudio para cada curso se incluyen normalmente en la
                            página de descripción del curso.</p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Qué prerrequisitos tendré que reunir antes de que empiece
                    el curso que quiero tomar?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p>Cada curso es diferente - algunos tienen requisitos previos y otros no. Echa un vistazo a los
                            requisitos específicos recomendados en la página de descripción del curso.</p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Qué libros debo leer? Estoy interesado en la lectura de
                    los materiales antes de que comience el curso.</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">Todos los materiales académicos requeridos serán proporcionados durante el
                            curso, dentro de tu navegador. Algunos cursos pueden enumerar los recursos adicionales en
                            las páginas de descripción del curso. Para material de lectura suplementario durante un
                            curso, publica una pregunta en el foro de la asignatura de discusión para pedir a tus
                            compañeros y personal del curso que te den algunas sugerencias.</p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Puedo descargar el material de lectura para mi curso?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">A menos que se indique específicamente en el curso, el contenido del libro de
                            texto proporcionado a través de MéxicoX sólo puede ser visto en el navegador; descargarlo
                            viola las leyes de derecho de autor. Si necesitas o deseas una copia impresa del libro, te
                            recomendamos que lo compres.</p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Puedo tomar más de un curso a la vez?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">¡Claro!, los cursos que desees tomar.</p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿A qué hora es la clase?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">Los cursos los puedes tomar a la hora que más te convenga. Todas las clases y
                            módulos están disponibles las 24 horas, incluyendo los videos y las lecturas. Basta con que
                            accedas a él cuando tengas tiempo. Sin embargo, los exámenes y los trabajos sí tienen fecha
                            de vencimiento.</p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>Si me pierdo una semana del curso, ¿cómo afectará a mi
                    rendimiento?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">Sin duda, es posible pasar un curso de MéxicoX si me pierdo una semana. Sin
                            embargo, los cursos son progresivos, por lo que debes revisar y estudiar lo que pudiste
                            haber perdido. Además, los trabajos y exámenes no los podrás presentar después de las fechas
                            de vencimiento. Revisa tu programa del curso para conocer las fechas y horarios
                            importantes.</p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>Se me pasó una fecha límite, ¿podré tener una extensión de
                    tiempo?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">No.</p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Qué pasa si tengo una pregunta concerniente al contenido
                    de un curso y a su forma de calificarlo?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">Todas las cuestiones relativas al contenido del curso y a su forma de
                            calificarlo pueden tratarse en el foro de discusión. El personal del curso puede leer
                            directamente y responder a tu consulta. Así mismo, la política de calificaciones debe estar
                            dentro del programa del curso.</p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Cómo puedo hablar con profesores, ayudantes de cátedra y
                    personal relacionado con la impartición de los cursos?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">En general, los foros de discusión de los cursos son el mejor lugar para llegar
                            al equipo docente de MéxicoX. Simplemente envía tus preguntas y cada institución hará su
                            mejor esfuerzo para responder lo antes posible.</p>
                        <p class="main">Te recordamos que algunos cursos son totalmente autogestivos y no cuentan con
                            personal de soporte, sin embargo, cuentan con una sección de información general que explica
                            los detalles de la impartición del mismo. </p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Puedo encontrar y conocer a otros estudiantes?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">Todos los cursos de MéxicoX tienen foros de discusión, donde se puede chatear y
                            tener trabajo colaborativo con otros estudiantes en el contexto del curso. </p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Cómo puedo obtener ayuda y soporte correspondiente a mi
                    curso?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">Tendrás una inmensa comunidad de compañeros que podrán participar con preguntas
                            en el marco de los principios de conducta, así como de los ayudantes de cátedra que vigilan
                            el curso. Echa un vistazo al foro de discusión podrás revisar las preguntas, respuestas y
                            comentarios de compañeros, así como publicar una pregunta.</p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Puedo volver a tomar un curso?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">Sí. Puedes volver a tomar cursos en MéxicoX con la frecuencia que desees siempre
                            y cuando la institución que lo imparte lo publique de nuevo. Cada curso se evalúa de forma
                            independiente. </p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Se volverán a ofrecer los mismos cursos en el futuro?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">Cada institución decide si vuelve a ofertar el curso, así como la periodicidad
                            con que lo hará.</p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>Un curso en el que estoy interesado ya comenzó. ¿Puedo
                    inscribirme?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">Sí la institución lo permite, sí puedes, y tendrás disponibles las actividades y
                            tareas que no estén vencidas a la fecha que ingreses. Lo ideal es que te inscribas al curso
                            desde el inicio. </p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Qué pasa si tengo que darme de baja de un curso. Puedo
                    tomarlo en el futuro?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">Puedes darte de baja de cualquier curso cuando lo requieras. No existe ninguna
                            penalización. Lo podrás tomar en el futuro si la institución lo vuelve a ofertar
                            nuevamente. </p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Qué es un curso archivado?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">Algunos de los cursos de MéxicoX estarán disponibles como archivados. A estos
                            cursos sólo puedes acceder a ellos como oyente y algunas herramientas de comunicación como
                            los foros, pueden no estar disponibles. En este tipo de cursos no se pueden otorgar
                            constancias de participación. </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="creditos" class="tabcontent" style="display: none;">
            <center><h2>Constancias y Créditos</h2></center>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Qué tipo de constancias y acreditación ofrece
                    MéxicoX?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">Se otorga una constancia gratuita de participación por parte de la institución
                            que lo imparte en conjunto con MéxicoX.
                            Por su parte, las instituciones podrán ofrecer la acreditación del conocimiento de acuerdo a
                            sus términos y condiciones de servicio. Estos podrían requerir, en algunos casos, una cuota
                            de recuperación.</p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Cómo puedo tomar un curso como oyente?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">Una vez que esté disponible, regístrate para el curso en nuestra página web.
                            Tendrás acceso a los vídeos, conferencias, lecturas, etc., y puedes participar como quieras.
                            No tienes que cumplir con tareas o exámenes. </p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Puedo obtener una copia impresa de mi constancia?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">MéxicoX no envía copias impresas a sus usuarios. Sin embargo, puedes imprimir un
                            pdf desde tu computadora.</p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Aceptará la universidad que imparte el curso, mi trabajo
                    realizado en MéxicoX como crédito?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">Cada institución educativa toma su propia decisión con respecto a la
                            acreditación. </p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Cómo se determina la expedición de una constancia?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">Un estudiante que recibe una calificación aprobatoria para un curso recibirá una
                            constacia de participación a discreción de MéxicoX y la institución que ofreció el
                            curso. </p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Cómo se entregan las constancias de MéxicoX?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">Las constancias de MéxicoX se entregan a través de su portal: mexicox.gob.mx.
                            Una vez que hayas finalizado y aprobado el curso podrás descargarlo de tu tablero al término
                            del periodo de impartición. </p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Cuándo recibiré mi constancia?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">Por lo general, éstas se reciben dos semanas después de que se cierra el
                            curso.</p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Por qué no recibí mi constancia de participación?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">Las constancias se entregan normalmente dentro de las dos semanas siguientes a
                            cuando se cierra el curso. Si no lo recibiste en este tiempo y estás seguro de haber
                            completado los requisitos que necesitas para obtenerlo, revisa en tu tablero; la constancia
                            se mostrará.</p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Cúanto tiempo tengo para descargar mi constancia?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">Tienes dos meses después de haberse emitido las mismas. Aclaramos que por ningún
                            motivo se emitirán constancias extemporáneas.</p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>Perdí mi constancia. ¿Podrían enviarla de nuevo?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">No se reenvían pero sí puedes descargarlo nuevamente. Inicia sesión en tu cuenta
                            y en el tablero. Hasta antes de que pasen los dos meses que estarán disponibles para su
                            descarga y visualización.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="cuentas" class="tabcontent" style="display: none;">
            <center><h2>Preguntas sobre las Cuentas</h2></center>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Qué pasa si mi nombre de usuario ya está tomado?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">Por favor trata con otro nombre de usuario.</p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Es necesario registrar un correo y mi nombre real?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">El correo es necesario para poder inscribirse y necesario en caso de que se
                            necesite reestablecer la contraseña.</p>
                        <p class="main">El nombre no lo es, pero recuerda que las constancias de participación saldrán
                            con el nombre que tú hayas registrado.</p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Qué pasa si tengo problemas para acceder a mi cuenta y no
                    me reconoce mi contraseña y/o correo electrónico?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">Por favor asegúrate de tener una versión actualizada de Firefox, Chrome o
                            Internet Explorer con cookies y JavaScript habilitados. Asimismo, vacía el caché de tu
                            computadora. Si persiste el problema levanta un ticket en: <a
                                    style="font-family:sans-serif;" href="http://soporte.mexicox.gob.mx/">http://soporte.mexicox.gob.mx/</a>.
                        </p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Qué pasa si olvidé mi contraseña?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">Encontrarás una en vínculo "contraseña olvidada" bajo el campo “Contraseña” en
                            la pantalla de inicio de sesión. Haz clic en este enlace e introduce tu dirección de correo
                            electrónico. Enviaremos un mensaje que te permitirá restablecer su contraseña.</p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Qué pasa si no recibí un correo electrónico de activación
                    o para restablecimiento de contraseña?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">Si no recibiste un correo electrónico automatizado puede ser porque:</p>
                        <ul>
                            <li>Cometiste un error al capturar tu dirección de correo electrónico.</li>
                            <li>Tu filtro de spam pudo haber interceptado el correo electrónico. Por favor revisa tu
                                carpeta de correo no deseado.
                            </li>
                            <li>Puede que estés utilizando un navegador antiguo. Te recomendamos que descargues la
                                versión actual de Firefox o Chrome.
                            </li>
                            <li>Verifica que JavaScript está deshabilitado en tu navegador. Por favor, comprueba la
                                configuración del navegador y confirma que JavaScript está activado.
                            </li>
                            <li>No registraste con éxito una cuenta en MéxicoX. Por favor, regístrate de nuevo con la
                                misma dirección de correo electrónico. (Si ya existe una cuenta, verás un error con
                                respecto a una dirección de correo electrónico duplicado.)
                            </li>
                        </ul>
                        <p class="main">Si continúas teniendo problemas al activar tu cuenta, te recomendamos que
                            intentes crear una nueva cuenta. No hay necesidad de hacer nada acerca de la cuenta antigua.
                            Si no se activa a través del enlace en el correo electrónico, desaparecerá después.</p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Puedo borrar mi cuenta?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">No hay necesidad de eliminar su cuenta. Una cuenta de MéxicoX sin usar y sin
                            cursos completados asociados con ella, desaparecerá.</p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Está segura y resguardada mi información personal como
                    alumno?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">Sí, se han tomado medidas para que tu información no esté disponible
                            públicamente, sin embargo puede ser consultada por el personal técnico de MéxicoX y los
                            responsables de la institución educativa que imparte el curso, esto sucede al momento que
                            solicitan descargar los informes del curso.</p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Qué sucede si tengo problemas con la visualización del
                    tablero (herramientas faltantes en el curso o no puedo visualizar el video)?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">Por favor verifica tu navegador y configuración - JavaScript debe estar
                            habilitado. Te recomendamos descargar y utilizar la versión actual de Firefox o Chrome.</p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Qué pasa si mis preguntas no son respondidas aquí?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">Por favor ponte en contacto con nosotros <a style="font-family:sans-serif;"
                                                                                    href="http://soporte.mexicox.gob.mx/">http://soporte.mexicox.gob.mx/</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="asesores" class="tabcontent" style="display: none;">
            <center><h2>FAQ Asesores (Staff)</h2></center>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Dónde se consulta el seguimiento de estudiantes?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">Para el control escolar las opciones que tiene el asesor es el de usar el libro
                            de calificaciones o “Gradebook”y la de consulta descarga del perfil de usuarios: Estas
                            opciones y otras más se encuentran en la pestaña del Instructor dentro del curso.</p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Cómo podemos extraer la información de comportamiento de
                    usuario?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">La información básica de cada usuario en el curso se ve a través de la Página
                            del Instructor, en donde la puede consultar (si son menos de 200 participantes) o
                            descargar.</p>
                        <p class="main">En esa misma página se enlista cuantas de las personas registradas en el curso
                            están por “Honor”, “Oyente” (“Audit”), o “Verificado” De esta estadística hay que descontar
                            al staff, pues aparecen en ella.</p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Cómo opera el mecanismo para emitir constancias y
                    acreditación en la plataforma?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">El mecanismo para la emisión de constancias requiere que el curso tenga una
                            fecha de término. Al terminar el curso el sistema genera las constancias y publica un aviso
                            con un enlace en el panel del curso del alumno.</p>
                        <p class="main">En cuanto a la acreditación, cada institución será responsable del procedimiento
                            de validación del usuario y de la emisión de la constancia con sus propios procesos. </p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Cómo se manejan los derechos de autor de las herramientas
                    de aprendizaje?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">Se debe verificar que se cuenta con los permisos adecuados para utilizar
                            cualquier recurso, como son las lecturas, libros, artículos, videos, audios, entre otros;
                            para no infringir los derechos de autor. Por ello se recomienda el uso de los Recursos
                            Educativos Abiertos (REA), o el crear sus propios recursos. En el caso de libros es
                            necesario ponerse en contacto con el autor y la editorial para solicitar un permiso de uso
                            el cual se debe de emitir por escrito.</p>
                        <p class="main">En la plataforma se deberá aclarar, de ser necesario si los documentos se pueden
                            o no imprimir.</p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Existe algún filtro en el espacio de discusión sobre
                    malas palabras y demás?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">No existe un filtro activo, se recomienda dejar muy claras las reglas de
                            participación y contar con un moderador.</p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Cómo puedo incluir archivos de audio en mi curso?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">Para incrustar archivos de audio, lo primero que se necesita hacer entrar a
                            Studio y ahí subir el archivo en “Archivos y subidas” o subirlo en alguna otra dirección,
                            posteriormente se incrusta en un componente HTML.</p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Se puede añadir animación de Flash?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">Las animaciones Flash se pueden incrustar, sin embargo se recomienda evitarlas
                            ya que no todos los dispositivos lo despliegan. Inclusive se ha dejado de dar soporte a
                            Flash para algunos sistemas y ya no se impulsa el desarrollo de este. En vez de ello utilice
                            HTML5</p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Tenemos requerimientos técnicos para video?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">Los videos deben de alojarse de preferencia en YouTube. Sin embargo también
                            pueden hospedarse en un servicio de streaming en el cual pueda obtenerse la cadena de
                            acceso, en dicho caso deberán de estar en formato MP4.</p>
                        <p class="main">Cabe mencionar que el archivo de Trailer del curso debe de estar forzosamente en
                            youtube.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="sesion" class="tabcontent" style="display: none;">
            <center><h2>Cursos validados por USICAMM</h2></center>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Cuáles son los cursos que tienen validez ante
                    USICAMM?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main"></p>
                        <p class="main">Los cursos que tienen validez ante USICAMM y que promueve la DG@prende.mx
                            son:</p>
                        <p class="main">1. Hacia una pedagogía digital de la práctica docente</p>
                        <p class="main">2. Estrategia en el aula: Prevención de adicciones</p>
                        <p class="main">3. Educación musical en México</p>
                        <p class="main">4. Saberes digitales para docentes. Nivel 1</p>
                    </div>
                </div>
            </div>
            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Cuáles cursos validados por USICAMM estarán disponibles
                    en MéxicoX?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">Los cursos que están validados por USICAMM y que se implementarán en MéxicoX
                            son:</p>
                        <p class="main">1. Hacia una pedagogía digital de la práctica docente</p>
                        <p class="main">2. Estrategia en el aula: Prevención de adicciones</p>
                        <p class="main">3. Saberes digitales para docentes. Nivel 1</p>
                        <p class="main">4. Educación musical en México</p>
                    </div>
                </div>
            </div>

            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Cuándo estarán disponibles los cursos validados por
                    USICAMM?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">Consulta la oferta formativa de tu entidad para conocer las fechas y registrarte
                            en la convocatoria.</p>
                    </div>
                </div>
            </div>

            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Cómo me puedo registrar al curso?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">1. Revisa la convocatoria estatal, el responsable de Formación Continua de tu
                            estado puede apoyarte con esta información; en caso de que no lo conozcas, en el siguiente
                            enlace podrás identificarlo: <a href="https://dgfcdd.sep.gob.mx/">Dirección General de
                                Formación Continua a Docentes y Directivos</a></p>
                        <p class="main">2. Regístrate al curso de tu preferencia</p>
                        <p class="main">3. A través del correo electrónico que proporcionaste, te llegarán los datos
                            necesarios para el acceso al curso.</p>
                    </div>
                </div>
            </div>

            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Qué costo tiene el curso?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">El curso es totalmente gratuito, al igual que todos los servicios educativos de
                            MéxicoX. </p>
                    </div>
                </div>
            </div>

            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Cómo obtengo la constancia de participación?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">Al obtener la calificación aprobatoria que se requiere en el curso, la Autoridad
                            Educativa de tu estado emitirá la constancia del servicio educativo a través de las unidades
                            de Formación Continua estatales, en el periodo que dicha área establezca dentro de la
                            respectiva convocatoria.</p>
                    </div>
                </div>
            </div>

            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Cómo puedo saber quién es la autoridad educativa estatal
                    de Formación Continua?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">LEn el siguiente enlace encontrarás la Unidad de Formación Continua en tu
                            entidad, así como información acerca de cómo se lleva a cabo la Estrategia Estatal:
                            <a href="https://dgfcdd.sep.gob.mx/">Dirección General de Formación Continua a Docentes y
                                Directivos</a></p>
                    </div>
                </div>
            </div>

            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿En dónde puedo acceder a los cursos validados por
                    USICAMM?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">Los cursos validados por USICAMM que promueve la Dirección General @prende.mx
                            estarán disponibles a través de la plataformaMéxicoX. Es importante que tu registro lo
                            realices directamente a través de la convocatoria de tu entidad, para que recibas los datos
                            necesarios de acceso al curso.</p>
                    </div>
                </div>
            </div>

            <div class="g-pregunta">
                <div class="p-btn" onclick="openap(event)"><b>¿Los cursos me sirven para los procesos de admisión al
                    SEN?</b>
                    <div style="display: none; margin-top: 5px;">
                        <p class="main">No, estos cursos validados por USICAMM son de apoyo a los procesos de promoción
                            para educación básica.</p>
                    </div>
                </div>
            </div>
            <script>
                function openap(evt) {
                    if (evt.currentTarget.children[1].style.display == "block") {
                        evt.currentTarget.children[1].style.display = "none";
                    } else {
                        evt.currentTarget.children[1].style.display = "block";
                    }
                }

                function openCity(evt, cityName) {
                    var i, tabcontent, tablinks;
                    tabcontent = document.getElementsByClassName("tabcontent");
                    for (i = 0; i < tabcontent.length; i++) {
                        tabcontent[i].style.display = "none";
                    }
                    tablinks = document.getElementsByClassName("opcion_top");
                    for (i = 0; i < tablinks.length; i++) {
                        tablinks[i].className = tablinks[i].className.replace(" active", "");
                    }
                    document.getElementById(cityName).style.display = "block";
                    evt.currentTarget.className += " active";
                }

                // Get the element with id="defaultOpen" and click on it
                document.getElementById("defaultOpen").click();
            </script>
        </div>
    </section>
</main>


<script src="https://ajax.googleapis.com/ajax/libs/d3js/5.12.0/d3.min.js"></script>
<script src="https://kit.fontawesome.com/bebc26d4f1.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<style>
    .encabezado{
        background-color: #83C6BF;
        color:white;
        padding:10px;
        text-transform: uppercase;
    }
    * {box-sizing: border-box}
    body {
        font-family: "Lato", sans-serif;
    }
    #main{
        font-family: 'Ubuntu', sans-serif;
    }
    #main:focus{
        outline: none;
    }
    .opcion_top {
        background: #F1F1F1;
        text-align: center;
        font-size: 30px;
        padding: 30px 30px;
        margin: 2px;
        min-width: 33%;
        color: #78A349;
        transition-duration: 0.3s;
    }
    .opcion_top span {
        background: rgb(0,0,0,0);
        border: none;
        font-size: 15px;
    }
    .opcion_top:hover span {
        color: #F1F1F1;
    }
    .opcion_top:hover {
        background: #78A349;
        color: #83C6BF;
    }
    .opcion_top span:focus {
        outline: none;
    }
    .tab {
        display: flex;
    }
    .active {
        background: #83C6BF;
        color: #F1F1F1;
    }
    .active span {
        color: #F1F1F1;
    }
    .g-pregunta {
        margin-bottom: 10px;
        background: #83C6BF;
        padding: 15px;
        border-radius: 10px;
    }
    .g-pregunta:hover {
        background: #FF9F2D;
    }
    .p-btn {
        padding: 3px;
        display: block;
        cursor: pointer;
    }
    .opcion_top div {
        height: 15px;
    }
</style>