<%namespace name='static' file='../static_content.html'/>
<%page expression_filter="h"/>
<%! from django.utils.translation import gettext as _ %>


<%inherit file="../main.html" />

<%block name="pagetitle">Código de honor</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">Código de Honor de la plataforma MéxicoX</%block>
        </h1>
        <p>
            <%block name="pagecontent">
        <h2><strong>LINEAMIENTOS, POLÍTICAS DE USO Y ADMINISTRACIÓN DE LA PLATAFORMA MÉXICOX</strong></h2>
        <p>MéxicoX es una iniciativa de innovación educativa, que aloja y distribuye cursos en línea gratuitos, masivos,
            a distintos ritmos y modalidades. Esta tecnología es producto de la implementación de un código abierto y la
            creación de recursos didácticos producto de la cooperación interinstitucional. Desarrolla habilidades
            digitales y busca afianzar el autoaprendizaje a través de cursos diversos, consistentes con las necesidades
            educativas actuales abordando enfoques formales y no formales, sin importar la condición social del usuario
            para lograr una mayor inclusión digital.</p>
        <p>Los siguientes lineamientos y políticas son definidos con la finalidad de mejorar el uso y la administración
            de la plataforma MéxicoX, según los marcos generales definidos en la carta intención o “compromiso” que
            establecen la colaboración entre la Dirección General de Televisión Educativa (DGTVE) y las Instituciones
            Aliadas de la plataforma y así alcanzar los objetivos plasmados en los planes, programas, estrategias y
            reglamentos que competen a la educación en México.</p>
        <p>Bajo este esquema, la (DGTVE) de la Secretaría de Planeación, Evaluación y Coordinación de la SEP, en
            coordinación con la Estrategia Digital Nacional de la presidencia de la República (CEDN), atendiendo los
            objetivos y metas alineadas al Plan Nacional de Desarrollo (2013-2018)<sup>1</sup> , el Plan Sectorial de
            Educación<sup>2</sup> y el Reglamento Interior<sup>3</sup> de la Secretaría de Educación Pública incursionó
            en el desarrollo de la Plataforma de MOOC <strong>MéxicoX.</strong></p><br>
        <h3><strong>Políticas de uso y restricciones de usuarios, administradores de cursos e Instituciones
            Aliadas:</strong></h3><br>
        <p>En cuanto las políticas y restricciones de usuarios, administradores de cursos e Instituciones Aliadas se
            consideran los siguientes puntos definidos en la colaboración interinstitucional para la emisión de cursos
            en la plataforma <strong>MéxicoX:</strong></p><br>
        <h4><strong>Políticas y restricciones del usuario:</strong></h4>
        <ol type="a">
            <li>La <strong>utilización</strong> de la <strong>plataforma MéxicoX</strong> por cualquier persona, le
                atribuye la calidad de usuario y ello implica la <strong>adhesión a los términos de uso y política de
                    privacidad</strong>.
            </li>
            <li>A través de la <strong>plataforma MéxicoX</strong> y de las Instituciones Aliadas, el
                <strong>usuario</strong> tendrá acceso a la plataforma y a la utilización de los contenidos educativos.
            </li>
            <li>La <strong>plataforma MéxicoX sólo podrá ser utilizada</strong> para propósitos académicos y de
                capacitación.
            </li>
            <li>El <strong>usuario</strong> reconoce que el uso de los contenidos no le proporciona ningún derecho de
                propiedad sobre los mismos.
            </li>
            <li>La inscripción a cada uno de los cursos es responsabilidad y compromiso del usuario, según los tiempos y
                mecanismos que se establezcan en la página “Acerca” o “About” del curso.
            </li>
            <li>El <strong>usuario</strong> acepta finalizar el curso según las fechas y horas que marcan las
                evaluaciones dentro del curso.
            </li>
            <li>Para acceder y utilizar los contenidos de la plataforma MéxicoX es necesario que el usuario proporcione
                datos personales en un registro asignado a un perfil y acepte las <strong>políticas de
                    privacidad</strong> ahí establecidas. El tratamiento de esta información es responsabilidad de la
                <strong>Dirección General de Televisión Educativa (DGTVE) de la Secretaría de Educación Pública
                    (SEP)</strong> en lo previsto en la Ley General de Protección de Datos Personales en Posesión de
                Sujetos Obligados tal como se encuentra establecido en el aviso de privacidad integral que se puede
                consultar en el siguiente sitio web: www.televisioneducativa.gob.mx/avisosdeprivacidad
            </li>
            <li>El <strong>usuario</strong> debe proporcionar datos fidedignos para el registro como: nombre completo,
                nombre de usuario, contraseña, correo electrónico, ubicación, sexo, año de nacimiento y último grado de
                estudios.
            </li>
            <li>Un <strong>usuario</strong> registrado en la plataforma MéxicoX, tendrá la posibilidad de inscribirse a
                cualquier curso abierto al público en general (<strong>MOOC</strong><sup>4</sup>). No se discriminará el
                acceso a los contenidos por ningún motivo.
            </li>
            <li>El <strong>usuario</strong> respetará aquellos cursos que son por invitación (<strong>SPOC</strong><sup>5</sup>),
                en caso de solicitar invitación deberá conducirse con respeto a la <strong>institución aliada</strong>
                para realizar los procedimientos necesarios para su consideración.
            </li>
            <li>El <strong>usuario</strong> será acreedor a una constancia dentro del curso siempre y cuando cumpla con
                los lineamientos, políticas de uso, acepte las políticas de privacidad, respete las recomendaciones para
                el usuario y las formas de trabajo, así como evaluaciones establecidas en el curso al que se inscriba.
            </li>
            <li>El correo electrónico que proporciona el usuario debe ser válido, ya que será el principal mecanismo de
                comunicación con la plataforma.
            </li>
            <li>Es responsabilidad del usuario utilizar todos los procesos automatizados para la activación de cuentas,
                recuperación de contraseñas y la <strong>mesa de soporte</strong>.
            </li>
            <li>Si el <strong>usuario</strong> requiere notificar de cualquier caso del cual crea que se está
                infringiendo los derechos de autor o de cualquier otro, como intelectual, así como material inapropiado
                deberá reportarlo a través de la mesa de soporte o a los contactos que se establecen dentro de cada
                curso.
            </li>
            <li>El <strong>usuario</strong> se obliga a usar el contenido de forma correcta y se obliga a respetar todos
                los derechos de propiedad intelectual sobre el contenido.
            </li>
            <li>El contenido está destinado solamente para el uso de los usuarios autorizados, por lo tanto, está
                permitido imprimir y copiar dicho contenido siempre y cuando sea para uso personal de estudio y fines
                académicos.
            </li>
            <li>La <strong>plataforma MéxicoX</strong> establece espacios de interacción como foros, actividades entre
                pares y mecanismos para realizar tareas, el usuario es responsable del material que utilice, así como
                cualquier acto que ocurra a través del uso de su perfil de usuario.
            </li>
            <ol type="i">
                <li>El <strong>usuario</strong> deberá de revisar que los archivos que publique, estén libres de virus,
                    cumplan los lineamientos antes mencionados.
                </li>
            </ol>
            <li>Es responsabilidad del usuario manifestar una conducta apropiada en su vocabulario y normas básicas de
                convivencia con los usuarios de la plataforma.
            </li>
            <li>El <strong>usuario</strong> debe garantizar siguientes acciones:</li>
            <ol type="i">
                <li>Evitar publicar contenidos que afecten la imagen de la <strong>plataforma MéxicoX</strong>, así como
                    de sus aliados estratégicos.
                </li>
                <li>No publicar propaganda política o religiosa.</li>
                <li>No publicar cualquier vínculo con dirección electrónica que afecte la dignidad de la comunidad
                    educativa.
                </li>
                <li>Procurar que los contenidos, imágenes, videos y enlaces que publique sean del menor tamaño posible
                    para que no afecten el rendimiento del sistema.
                </li>
                <li>Evitar publicar contenidos de los cuales no sea el autor, o en su caso, definir las referencias
                    correspondientes.
                </li>
            </ol>
            <li>Las <strong>Instituciones Aliadas y la plataforma MéxicoX</strong> se reservan el derecho de revisar,
                remover, editar un material que un usuario haya publicado sin tomar en cuenta las consideraciones
                anteriores, así como suspender de manera temporal o definitiva al usuario responsable.
            </li>
            <li>Las <strong>Instituciones Aliadas y la plataforma MéxicoX</strong>, son ajenas a los vínculos de
                internet externos y que pueden ser accedidos por medio del contenido en la plataforma MéxicoX, no siendo
                responsable de su vigencia ni de la modificación de sus contenidos.
            </li>
            <li><strong>Queda prohibida</strong> la reproducción total o parcial de los contenidos de esta página, por
                cualquier medio o procedimiento, sin la autorización previa, expresa y por escrito de las <strong>Instituciones
                    Aliadas y la plataforma MéxicoX</strong> en los casos que así lo amerite. Las imágenes, diseño de
                los textos, los gráficos, así como el contenido presentado en esta página, son ilustrativos e
                informativos y son propiedad de la Instituciones Aliadas, reconociendo la autoría intelectual de los
                diseñadores. Toda forma de utilización no autorizada será perseguida en los términos de la legislación
                federal aplicable en materia de propiedad intelectual y derechos de autor. Derechos reservados conforme
                a la ley, DR (México 2010).
            </li>
            <li>La plataforma cuenta con cuatro espacios virtuales a los que pueden acceder los usuarios, se trata de 2
                Learning Management System y 2 Content Management System que componen una plataforma de pruebas para un
                público institucional (https://mxverde.televisioneducativa.gob.mx/) y una plataforma pública de libre
                acceso (http://www.mexicox.gob.mx).
            </li>
            <li>La asignación de roles queda establecida de la siguiente manera para los usuarios dentro de la
                plataforma MéxicoX:
            </li>
            <ol type="i">
                <li>Administrador de plataforma requiere una clase súper usuario en el LMS y CMS.</li>
                <li>Enlace Institucional tiene permisos de administrador de curso y puede acceder al Sisamin como
                    usuario
                </li>
                <li>Asesor técnico-pedagógico cuenta con permisos de Staff en el LMS y de Equipo en el CMS</li>
                <li>Administrador de curso requiere una clase activo en el LMS y una clase Equipo en el CMS</li>
                <li>Usuario de prueba beta requiere una clase activo y usuario de prueba beta en el LMS.<sup>6</sup>
                </li>
                <li>Administrador de foros de conversación requiere una clase activo y administrador de foros de
                    conversación en el LMS.<sup>7</sup></li>
                <li>Moderador de foros requiere una clase activo y moderador de foros en el LMS.<sup>8</sup></li>
                <li>Profesor asistente requiere una clase activo y profesor asistente de foros en el LMS.<sup>9</sup>
                </li>
                <li>Usuario común, requiere la clase activo en el LMS para visualizar los contenidos dentro de la
                    plataforma
                </li>
            </ol>
        </ol>
        <br>
        <h4><strong>Políticas y restricciones de la Institución Aliada:</strong></h4>
        <ol type="a">
            <li>La Colaboración Interinstitucional queda establecida a través de la carta compromiso o convenio de
                colaboración y la carta de autorización. En donde ambas partes se comprometen a mantener una relación de
                respeto y entendimiento para la integración, administración y resolución de conflictos que implica
                ofertar un curso dentro del plataforma MéxicoX
            </li>
            <li>La carta compromiso debe dirigirse al <strong>Director General de Televisión Educativa</strong>, nombre
                del curso, duración, responsable de la colaboración, objetivos de aprendizaje, fechas de curso, usuarios
                estimados, público objetivo y deberá ir firmado por el responsable de la Institución solicitante
                (Director, Coordinador o afín)
            </li>
            <li>En el entendido que la Plataforma MéxicoX es parte de la Secretaría de Educación Pública queda
                estrictamente prohibido el cobro de cuotas, discriminación o cualquier tipo de abuso a los usuarios de
                la plataforma MéxicoX.
            </li>
            <ol type="i">
                <li>No se podrá hacer uso de las herramientas de la plataforma MéxicoX distintas a sus fines
                    didácticos.
                </li>
            </ol>
            <li>La Carta compromiso deberá ser enviada en digital a través del Sistema Administrativo
                MéxicoX.<sup>10</sup></li>
            <ol type="i">
                <li>La solicitud será considerada por la Coordinación de la plataforma.</li>
                <li>El lanzamiento de cursos está sujeto a disponibilidad.</li>
            </ol>
            <li>Puede ser una Institución Aliada de MéxicoX para ofertar cursos, únicamente si cuenta con
                REVOE<sup>11</sup> o RENYECYT<sup>12</sup>.
            </li>
            <li>La Institución Aliada se compromete a consultar con la Coordinación de la Plataforma las mejores fechas
                para iniciar cada emisión de curso, esto según disponibilidad de recursos.
            </li>
            <li>La Institución Aliada deberá solicitar los accesos al Sistema Administrativo MéxicoX para proceder a
                llenar una Ficha Técnica<sup>13</sup></li>
            <li>La Institución Aliada se compromete a integrar toda la información que se solicita en el llenado de la
                Ficha Técnica en tiempo y forma. Así como atender las solicitudes del equipo de la plataforma MéxicoX
            </li>
            <li>Todo el personal de la institución aliada que interactúe con la plataforma deberá registrarse en el
                catálogo de personal del sistema administrativo MéxicoX.
            </li>
            <li>El registro en el catálogo de personal servirá para identificar personal autorizado para interactuar con
                el equipo MéxicoX
            </li>
            <li>Para conceder permisos de administrador al personal de la Institución Aliada, ésta debe comprobar que su
                equipo cuenta con la capacitación para crear un MOOC en la plataforma MéxicoX, por medio de la
                constancia con valor curricular que se entrega al finalizar la misma.
            </li>
            <li>La capacitación solo puede ser solicitada por una Institución que pueda comprobar su compromiso para
                colaborar con MéxicoX y se compromete a respetar las fechas, políticas y lineamientos como usuario de la
                plataforma.
            </li>
            <li>La constancia de participación con valor curricular solo será otorgada una vez que los asistentes
                cuenten con las condiciones mínimas establecidas por la Dirección General de Televisión Educativa, el
                Centro de Capacitación Televisiva y la Plataforma MéxicoX.
            </li>
            <li>El equipo de la plataforma MéxicoX emitirá un diagnóstico técnico pedagógico para la mejora del curso,
                este deberá ser respondido en las fechas que ahí mismo se establecen.
            </li>
            <li>La institución aliada deberá avisar a la Coordinación de la plataforma cuando el curso esté listo para
                el diagnóstico, es decir debe contar con todos los contenidos bien integrados.
            </li>
            <li>Ningún curso podrá salir a inscripciones o promoción si no cuenta con el aval y autorización del equipo
                de la plataforma MéxicoX
            </li>
            <li>La Institución Aliada debe contar con la disposición, las condiciones y los derechos patrimoniales de
                autor en los contenidos, para incorporarse a este proyecto, por lo que es de su entera responsabilidad
                lo que ahí se plasme.
            </li>
            <li>La Institución Aliada se compromete a formalizar la protección del curso ante INDAUTOR a través de un
                instrumento jurídico que posteriormente subirá al sistema administrativo para salir a inscripciones.
            </li>
            <li>Toda promoción de curso se realizará en conjunto a través de los distintos medios con los que cuente la
                plataforma MéxicoX y las <strong>instituciones aliadas</strong>.
            </li>
            <li>La Institución Aliada se compromete a dar seguimiento y soporte a los usuarios del curso que oferte en
                los temas que le competen, dudas sobre contenidos, mientras el curso aparezca en la parrilla principal
                de MéxicoX.
            </li>
            <li>La plataforma MéxicoX otorgará una cuenta de correos institucional con domino @mexicox.gob.mx a las
                instituciones aliadas y servirá como principal medio de comunicación entre ambas partes. Esta cuenta
                deberá utilizarse con fines pedagógicos y para ofrecer soporte al curso que administran en la
                plataforma.
            </li>
            <li>Una vez que el curso cuente con todas las condiciones necesarias para salir a promoción, la institución
                aliada deberá solicitar la migración del contenido a la plataforma pública, así también para cualquier
                otro elemento adicional, como las librerías.
            </li>
            <li>El Equipo de la plataforma MéxicoX otorgará los accesos y permisos al responsable institucional hasta
                una semana antes de iniciar el curso. Este deberá replicar esta actividad para el resto del equipo con
                el que cuente.
            </li>
            <li>Aun cuando el equipo de la plataforma MéxicoX realiza respaldos de los contenidos de forma periódica, la
                institución aliada deberá realizar los propios como medida de seguridad.
            </li>
            <li>En caso de requerir una ampliación en el número de usuarios por emisión, esta deberá ser mediante un
                oficio que establezca la petición formal dirigida al Director General de Televisión Educativa.
            </li>
            <li>Todos los cambios en los cursos después del diagnóstico técnico pedagógico deberán ser notificados al
                equipo de la plataforma para su autorización.
            </li>
            <li>La configuración avanzada de los cursos quedará restringida para la institución aliada, el uso de esta
                sección quedará bajo supervisión del equipo de la plataforma MéxicoX.
            </li>
            <li>La institución aliada deberá colocar el esfuerzo estimado del curso en horas totales</li>
            <li>No se modificará contenido o configuraciones del curso sin el conocimiento de la institución aliada y/o
                el equipo MéxicoX
            </li>
            <li>La Institución Aliada no debe realizar cambios en la sección “Certificados” del CMS y el LMS.</li>
            <li>Para la descarga de datos, la Institución Aliada deberá solicitar al equipo de la plataforma MéxicoX
                mediante correo.
            </li>
            <li>Los permisos de administrador serán otorgados al equipo de la Institución Aliada hasta una semana antes
                de iniciar el curso y serán retirados una vez que finalice el curso.
            </li>
            <li>El incumplimiento de estos lineamientos se entenderá como una falta grave a la colaboración
                interinstitucional y puede derivar en recesión del estatus como Institución Aliada.
            </li>
            <li>Cualquier mal uso de la plataforma, así como cada uno de los componentes y herramientas que la conforman
                es responsabilidad de la Institución Aliada.
            </li>
        </ol>
        <p>Los procesos formativos de enseñanza-aprendizaje acompañados del uso de la tecnología son enriquecedores
            siempre y cuando asumamos un rol proactivo y de mayor autonomía, recordando que las TIC no sustituyen de
            ninguna manera los roles del docente ni del estudiante, por ello se definen los siguientes lineamientos y
            recomendaciones generales de uso para estudiantes y asesores de la plataforma MéxicoX: </p><br>
        <h4><strong>Lineamientos y recomendaciones para usuarios:</strong></h4>
        <ul>
            <li>Es importante que los usuarios acepten nuestro código de honor, ahí se refleja la filosofía de modelo de
                aprendizaje basado en las tecnologías de información y comunicación que sigue los siguientes principios
                básicos:
            </li>
            <ul>
                <li>Respeto. Aceptar la individualidad de los demás y acatar las normas, términos y condiciones de uso,
                    así como las políticas de las Instituciones Aliadas
                </li>
                <li>Honestidad. Actuar con la verdad siempre y en todo lugar.</li>
                <li>Lealtad. Desempeñarse fiel, con entrega y apoyo incondicional en el rol que nos corresponda.</li>
                <li>Disciplina. Actual de manera ordenada, conforme los términos y condiciones de uso.</li>
                <li>Responsabilidad. Asumir el papel que nos corresponde y las consecuencias de nuestras acciones y
                    decisiones. Aceptar los avisos de privacidad que rigen en la plataforma.
                </li>
                <li>Perseverancia. Luchar constantemente por lograr el éxito.</li>
            </ul>
            <li>El usuario está comprometido a cumplir en tiempo y forma con los requisitos de cada curso dentro de la
                plataforma MéxicoX de acuerdo a las indicaciones de plasmadas en las instrucciones del curso. (foros de
                conversación, wikis, chats, actividades entre pares y demás espacios colaborativos de trabajo)
            </li>
            <li>Al ingresar a la plataforma es importante que el usuario realice una revisión y exploración general de
                la misma, conozca la información, espacios y contenidos que en ella se disponen.
            </li>
            <li>Es necesario que el usuario revise la información general de su curso: objetivos de aprendizaje,
                conocimientos mínimos, trayecto formativo, contenidos, evaluación, de tal modo que ubique de forma más
                clara su rol y participación activa dentro del mismo.
            </li>
            <li>Es importante la participación en los foros de discusión, chats, wikis y otros espacios de intercambio,
                no solo para subir tareas y colocar opiniones, sino para definir posturas, argumentos y lograr una
                verdadera construcción de conocimiento.
            </li>
            <li>Cada curso tiene la intención de fomentar el autoaprendizaje por lo que se deben proporcionar recursos
                de apoyo a la formación del usuario y colaboración con el resto de sus compañero(a)s.
            </li>
            <li>Para cualquier recibir atención técnica del equipo de la plataforma se deberá enviar un reporte inicial
                a la mesa de soporte (ticket)
            </li>
            <li>La atención vía telefónica solo se ofrecerá cuando el usuario tenga un número de ticket de atención en
                la mesa de soporte.
            </li>
        </ul>
        <h4><strong>Lineamientos y recomendaciones para los integrantes del equipo de administración y seguimiento al
            curso:</strong></h4>
        <p></p>
        <ul>
            <li>Los administradores del curso, administradores de foros de discusión y moderadores de foros de
                discusión, que en adelante se nombrará “equipo del curso” son gestores y facilitadores del aprendizaje.
                La plataforma MéxicoX les ofrece una serie de recursos y herramientas, así como espacios de interacción
                propuestos con la intención de apoyar su práctica docente.
            </li>
            <li>El asesor técnico pedagógico puede considerar la planeación y contenidos definidos en los programas y
                diseños instruccionales de los cursos y proponer mejoras al mismo.
            </li>
            <li>Es importante que el equipo del curso utilice los espacios y herramientas de la plataforma para
                favorecer las habilidades en el uso de TIC, investigación, trabajo colaborativo, y resolución de
                problemas de sus estudiantes.
            </li>
            <li>Asimismo, es necesario que participe activamente en los espacios de construcción colaborativa como los
                foros de discusión, chats, wikis, para dar un mejor uso de estos recursos tecnológicos de comunicación.
                Así como dar retroalimentación oportuna a las tareas que los usuarios envían para su revisión, en los
                casos que así se requiera, dado que su orientación y seguimiento serán determinantes en la eficiencia
                terminal del curso.
            </li>
            <li>Es importante que el equipo del curso realice un seguimiento permanente de las actividades que realizan
                los usuarios dentro de la plataforma. Esto ayudará a realizar los cambios correspondientes cuando así lo
                amerite la situación.
            </li>
            <li>Conocer y acompañar a los usuarios en el uso de la plataforma en sus diversas actividades y recursos
                cuidando los aspectos académicos y formación de competencias definidos en el perfil de egreso del
                estudiante u objetivos de aprendizaje son también tareas del equipo del curso.
            </li>
            <li>El equipo del curso debe notificar al equipo de la plataforma MéxicoX cualquier cuestión técnica
                operativa que se suscite en el desarrollo de su curso.
            </li>
            <li>En caso de que el equipo del curso detecte incidencias correspondientes al contenido y evaluaciones del
                curso una vez que éste ha dado inicio es estrictamente obligatorio notificar al equipo de asesoría
                técnico-pedagógica antes de realizar cualquier modificación.
            </li>
        </ul>
        <h4><strong>Lineamientos y recomendaciones para enlaces institucionales:</strong></h4>
        <ul>
            <li>La función del enlace institucional es muy importante en la coordinación, gestión y seguimiento de este
                proyecto por lo que es necesario que esté atento a los correos electrónicos o llamadas telefónicas del
                equipo de la plataforma MéxicoX.
            </li>
            <li>El enlace institucional debe:</li>
            <ul>
                <li>Favorecer los espacios para la mejora de los cursos y contenidos atendiendo las recomendaciones del
                    equipo de la plataforma.
                </li>
                <li>Asistir a las capacitaciones para el uso y administración de la plataforma MéxicoX</li>
                <li>Atender las indicaciones del equipo MéxicoX</li>
                <li>Promover y solicitar los espacios de capacitación requeridos para su equipo en función de un mejor
                    aprovechamiento de los recursos de la misma.
                </li>
                <li>Orientar y dar seguimiento académico y organizativo a su equipo durante todos los procesos para la
                    emisión de un curso.
                </li>
                <li>Enviar en tiempo y forma los requerimientos que solicite el equipo de la plataforma MéxicoX.</li>
                <li>Solicitar a la coordinación de la plataforma los recursos y espacios necesarios para el buen
                    desempeño de la iniciativa.
                </li>
            </ul>
        </ul>
        <hr>
        <p style="font-size:12px;"><sup>1</sup>Meta nacional número III. Educación con Calidad. Estrategia transversal:
            Gobierno Cercano y Moderno que dio origen al Programa para un Gobierno Cercano y Moderno 2013-2018, que en
            su Objetivo 5 determinó la CEDN.<br>
            <sup>2</sup>Capítulo III. Objetivos, estrategias y líneas de acción. Objetivo 3. Asegurar mayor cobertura,
            inclusión y equidad educativa entre todos los grupos de la población para la construcción de una sociedad
            más justa.<br>
            <sup>3</sup>Artículo 42 “Proponer y promover normas y políticas para el desarrollo de planes, programas y
            proyectos orientados al desarrollo de la educación a distancia, en coordinación con las unidades
            administrativas o entidades competentes”<br>
            <sup>4</sup>Massive Online Open Course<br>
            <sup>5</sup>Small Private Online Course<br>
            <sup>6</sup>Esta asignación se define por un administrador de curso o superior. La finalidad consiste en
            probar el curso para asegurar la calidad de los contenidos.<br>
            <sup>7</sup>Este permiso es concedido por un administrador de curso y tiene como finalidad la organización
            en la atención a los foros de discusión.<br>
            <sup>8</sup>Tiene la responsabilidad de conducir las conversaciones según el diseño instruccional y los
            objetivos de aprendizaje.<br>
            <sup>9</sup>Se trata de un usuario común que ha participado de forma activa y es reconocido por el
            Administrador de Foros como un miembro honorario del equipo del curso, ayuda a guiar y retroalimentar las
            discusiones en los foros.<br>
            <sup>10</sup>Se trata de un desarrollo del equipo MéxicoX para la administración de diversas solicitudes de
            las instituciones aliadas http://sisadmin.mexicox.gob.mx/<br>
            <sup>11</sup>Reconocimiento de Validez Oficial de Estudios<br>
            <sup>12</sup>Registro Nacional de Instituciones y Empresas Científicas y Tecnológicas<br>
            <sup>13</sup>La ficha técnica es un requisito que permite administrar y mantener una programación ordenada
            de cursos dentro de la plataforma.</p>

        </%block>
        </p>
        <!-- NEW IN INDIGO: add graphic image -->
        <div class="graphic-img">
            <img src="${static.url('images/privacy.svg')}" alt="Runs on Tutor" />
        </div>
    </section>
</main>
<style>
    .pleca {
        background-color: #281243;
        color: white;
        padding: 10px;
        text-transform: uppercase;
    }

    #main {
        line-height: 1.3;
        text-align: justify;
    }

    h3, h2, h4 {
        color: #554C8F;
    }
</style>