<%namespace name='static' file='../static_content.html'/>
<%page expression_filter="h"/>
<%! from django.utils.translation import gettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<main id="main" aria-label="Content" tabindex="-1">

    <section class="container about">
        <%block name="pagecontent">
        <div class="content-wrapper main-container" id="content" dir="ltr">

            <section class="vision">

                <section class="message left" id="about">
                    <div class="photo">
                        <!--
                            Photo License: CC0 Public Domain (Free for commercial use / No attribution required)
                            https://pixabay.com/en/book-books-circle-curly-education-2869/
                        -->
                        <img src="${static.url('images/about.svg')}" alt="Runs on Tutor" />
                    </div>
                    <article>
                        <h2 class="encabezado">Acerca de</h2>
                        <h4>¿Qué es Cursos @prende.mx?</h4>
                        <br>
                        <p>Cursos @prende.mx es una plataforma de cursos masivos abiertos en línea (MOOC, por sus siglas en
                            inglés), de la Secretaría de Educación Pública, a través de la Dirección General de
                            Televisión Educativa.</p>
                        <br>
                        <h4>Historia</h4>
                        <br>
                        <p>Desde su lanzamiento en junio de 2015, hasta la actualidad, se ha alineado a modelos y
                            estándares de nivel internacional en materia de Tecnologías de la Información y Comunicación
                            (TIC), con el fin de erradicar la brecha digital en el tema de educación.</p> Cuatro años
                        después la plataforma Cursos @prende.mx cuenta con resultados sólidos y ha generado una de las comunidades
                        de aprendizaje digital más importante del país.<p></p>
                        <br>
                        <h4>Alcances</h4>
                        <br>
                        <li>Hay más de <b>2.6 millones de usuarios inscritos</b> en los cursos de Cursos @prende.mx</li>
                        <li>Se han entregado más de 700, 000 constancias de participación para los usuarios que han
                            concluido satisfactoriamente los cursos.
                        </li>
                        <li>El <b>96%</b> de lo usuarios recomendaría y volvería a realizar un curso en la plataforma
                            Cursos @prende.mx
                        </li>
                        <li>Hay más de <b>70 instituciones aliadas</b>, públicas, privadas y gubernamentales como el
                            Tecnológico de Monterrey, la Universidad Nacional Autónoma de México (UNAM), Instituto
                            Politécnico Nacional (IPN), Secretaría de hacienda y Crédito Público (SHCP) BANSEFI,
                            CONACYT, etc.
                        </li>

                    </article>
                    <hr class="fade-right-hr-divider">
                </section>

            </section>
            <section class="message left" id="contact">
                <div class="photo">

                </div>
            </section>



        </div>


    </section>

    <style>
        @media (min-width: 768px)

        .content-wrapper {
            padding: 0 100px 10px;
        }

        .encabezado {
            background-color: #83C6BF;
            color: white;
            padding: 20px;
            text-transform: uppercase;
            text-align: center;
        }



        .carousel-control-prev:hover i, .carousel-control-next:hover i {
            background: rgb(0, 0, 0, 0.4);
        }

        .carousel-control-prev:hover i, .carousel-control-next:hover i {
            color: white;
        }

        .carousel-control-prev i, .carousel-control-next i {
            color: rgb(0, 0, 0, 0);
            font-size: 30px;
            padding: 10px;
            transition-duration: 0.5s;
        }

        .tab-content {
            height: 300px;
            display: flex;
            background-image: url('http://sisadmin.mexicox.gob.mx/banner/forest-45092831920.jpg');
            background-size: 100% auto;
            text-align: justify;
        }

        .nav-tabs {
            border: none;
            background: #f1f1f1;
        }

        .nav-link {
            color: #281243;
        }

        .nav-link[aria-selected="true"] {
            border: solid 1px rgb(0, 0, 0, 0) !important;
            border-radius: 0px;
            background: #f1f1f1 !important;
        }

        .nav-link[aria-selected="true"] + div {
            height: 4px;
            background: #7e77d4;
            width: 100%;
        }

        .nav-link + div {
            margin-top: -4px;
            border: solid 1px rgb(0, 0, 0, 0);
            transition-duration: 0.5s;
            height: 4px;
            background: rgb(0, 0, 0, 0);
            width: 0;
            cursor: pointer;
        }

        .nav-link:hover + div {
            border: solid 1px rgb(0, 0, 0, 0);
            height: 4px;
            width: 100%;
            background: #281243;
        }

        .nav-link + div:hover {
            border: solid 1px rgb(0, 0, 0, 0);
            height: 4px;
            width: 100%;
            background: #281243;
        }

        .a-u:hover .tx-c {
            display: block;
            -webkit-animation: slide-down 0.5s ease-out;
            -moz-animation: slide-down 0.5s ease-out;
        }

        .a-u:hover .t-c {
            height: 75%;
            border-radius: 10px;
        }

        .a-h:hover .tx-c {
            display: block;
            -webkit-animation: slide-down 0.5s ease-out;
            -moz-animation: slide-down 0.5s ease-out;
        }

        .a-h:hover .t-c {
            height: 110%;
            border-radius: 10px;
        }

        .a-l:hover .tx-c {
            display: block;
            -webkit-animation: slide-down 0.5s ease-out;
            -moz-animation: slide-down 0.5s ease-out;
        }

        .a-l:hover .t-c {
            height: 75%;
            border-radius: 10px;
        }

        @-webkit-keyframes slide-down {
            0% {
                opacity: 0;
            }
            50% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        @-moz-keyframes slide-down {
            0% {
                opacity: 0;
            }
            50% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        .h-t h4 {
            text-align: center;
        }

        .h-t div {
            text-align: justify;
        }
    </style>
</%block>
</main>
