<%page expression_filter="h"/>
<%! from django.utils.translation import gettext as _ %>
<%namespace name='static' file='../static_content.html'/>
<%
course_mode_class = course_mode if course_mode else ''
%>

<main class="accomplishment accomplishment-main">

    <div class="wrapper-accomplishment-rendering">
        <div class="accomplishment-rendering" style="background: url('${static.url("images/BACK.png")}')">
            <span class="deco-corner deco-corner-tl"></span>
            <span class="deco-corner deco-corner-tr"></span>
            <span class="deco-corner deco-corner-bl"></span>
            <span class="deco-corner deco-corner-br"></span>

            <div class="accomplishment-type" style="flex: 0 1 90%; margin-bottom: 0px;">
                <span class="accomplishment-type-symbol">
                </span>
                % if organization_long_name == "Secretaria Anticorrupción y Buen Gobierno, y la UnADM.":
                <img class="src" src="${static.url("images/ENDOSO_1.png")}" alt="logo gobierno" height="55px" style="display: block; margin: 0 auto;">
                % else:
                <img class="src" src="${static.url("images/ENDOSO_1.png")}" alt="logo gobierno" height="55px" style="display: block; margin: 0 auto;">
                % endif

                <div style="margin-top: 40px;">
                    <span style="font-family: 'Noto Sans', sans-serif; font-weight: bold; font-size: 15pt; color: #717170; font-weight: bold;">
                        <strong>Otorgan la presente</strong>
                    </span>
                    <br>
                    <br>
                    <span style="font-family: 'Patria Regular', serif; font-size: 41pt; color: #AE8420; font-weight: bold;">
                        <strong>CONSTANCIA</strong>
                    </span>
                    <br>
                    <br>
                    <span style="font-family: 'Noto Sans', sans-serif; font-weight: bold; font-size: 15pt; color: #717170; font-weight: bold;">
                        <strong>a</strong>
                    </span>
                </div>

                <!-- <span class="accomplishment-type-label hd-4">Otorgan la presente CONSTANCIA</span>
                <span class="accomplishment-type-label hd-3">a</span> -->
            </div>

            <div class="wrapper-statement-and-signatories" style="flex: 0 1 90%;">
                <div class="accomplishment-statement" style="margin-bottom: 0px;">
                    <p class="accomplishment-statement-lead" style="flex: 0 1 90%; margin-top: 0px;">
                        <strong style="font-family: 'Patria Regular', serif; font-size: 40pt; color: #717170;">${accomplishment_copy_name}</strong>
                        <br>
                        <span style="font-family: 'Noto Sans', sans-serif; font-size: 12pt; color: #717170;">por haber concluido satisfactoriamente el curso masivo abierto en línea</span>
                        <span class="accomplishment-course hd-1 emphasized">
	                    <!--span class="accomplishment-course-org">${accomplishment_copy_course_org}</span>
                            <span class="accomplishment-course-number">${course_number}</span-->
                                <span style="font-family: 'Noto Sans', sans-serif; font-weight: bold; font-size: 22pt; color: #717170;">${accomplishment_copy_course_name}</span>
                        </span>
                    </p>

		    % if custom_organizacion_text:
<!-- cambiar el las imagenes del encabezado-->
            <p class="accomplishment-statement-detail copy copy-lead" style="font-family: 'Noto Sans', sans-serif; font-size: 12pt; color: #717170; font-weight: bold;"><strong>${custom_organizacion_text},</strong><br>a través de la plataforma <strong>MéxicoX</strong>.</p>

		    % else:

			<p class="accomplishment-statement-detail copy copy-lead" style="font-family: 'Noto Sans', sans-serif; font-size: 12pt; color: #717170; font-weight: normal;">impartido por <strong>${organization_long_name},</strong><br>a través de la plataforma <strong>MéxicoX</strong>.</p>		    

		    % endif 
                
		%if score_available:


		<p class='accomplishment-statement-detail copy copy-lead'>Con una calificación de <strong>${course_grade}</strong></p>

		% endif
		</div>

                % if mode != 'base':
                <div class="accomplishment-signatories">
                    <h3 class="accomplishment-signatories-title sr-only">${_("Noted by")}</h3>

                    <div class="wrapper-signatories">
                        <div class="list-signatories">
                            % if certificate_data:
                            % for signatory in certificate_data.get('signatories', []):
                            <div style="text-align: center;">
                                <!-- <img class="signatory-signature" src="${static.url(signatory['signature_image_path'])}"
                                     alt="${signatory['name']}"> -->
                                <span style="font-family: 'Noto Sans', sans-serif; font-weight: bold; font-size: 12pt; color: #717170;">${signatory['name']}</span>
                                <p style="font-family: 'Noto Sans', sans-serif; font-weight: bold; font-size: 12pt; color: #717170;">
                                    <span class="role">${signatory['title']}</span>
                                    <span class="organization">${signatory['organization']}</span>
                                </p>
                            </div>
                            % endfor
                            % endif
                        </div>
                    </div>
                </div>
                % endif
            </div>

            <div class="accomplishment-orgs">
                <h3 class="accomplishment-orgs-title sr-only">${_("Supported by the following organizations")}</h3>

                <ul class="wrapper-orgs list-orgs">
                    <li class="wrapper-organization">
                        <div class="organization organization-edX"></div>
                            <img src="${static.url("images/ILUSTR_MUJERES INDIGENAS.png")}" alt="mujeres indigenas"style="float: left; margin-left: -200px; margin-top: 10px;">
                        </div>
                    </li>
                    <!-- logo de mexicox-->
                    <li class="wrapper-organization">
                        <div class="organization organization-edX">
                            <img class="organization-logo" src="https://sisadmin.mexicox.gob.mx/images/mexicox-logo.png" alt="${platform_name}">
                        </div>
                    </li>
                    % if organization_logo_extra:
                    <li class="wrapper-organization">
                        <div class="organization">
                            <img class="organization-logo" src="${organization_logo_extra}" alt="${platform_name}">
                        </div>
                    </li>
                    % endif

                    % if organization_logo:
                    <li class="wrapper-organization">
                        <div class="organization">
                            <img class="organization-logo" src="${organization_logo.url}" alt="${platform_name}">
                        </div>
                    </li>
                    % endif
                    <li class="wrapper-organization" >
                        <div class="organization organization-edX" style="margin-right: 100px; margin-left: 100px;">
                            <img src="https://certificados.mexicox.gob.mx/generate_qr/a90998ef326a40a3ac1aac34243d60fe/" alt="${certificate_id_number}" height="100px">
                            <p style="font-family: 'Noto Sans', sans-serif; font-size: 9pt; color: #717170; margin-top: 5px;">Certificate ID Number: <strong>${certificate_id_number}</strong></p>
                        </div>
                    </li>
                </ul>
                <div class="accomplishment-orgs" style="margin-top: 200px; margin-left: -60px;">

                    % if score_available:


                    % else:

                    <p style="font-family: 'Noto Sans', sans-serif; font-weight: 300; font-size: 6pt; color: #717170; text-align:center; line-height: 0.5%">Este curso no acredita al participante como alumno oficial de la institución que lo imparte.</p>

                    <p style="font-family: 'Noto Sans', sans-serif; font-weight: 300; font-size: 6pt; color: #717170; text-align:center; line-height: 0.5%;">No contiene créditos académicos ni revalidación académica en ninguno de los programas de estudios formales o de extensión. </p>

                    %endif
                    <h3 class="accomplishment-orgs-title sr-only">${_("Supported by the following organizations")}</h3>


                </div>
            </div>
        </div>

        <div class="wrapper-accomplishment-metadata">
            <div class="accomplishment-metadata">
                <h2 class="accomplishment-metadata-title hd-6">${accomplishment_copy_more_about}</h2>

                <div class="wrapper-metadata">
                    <dl class="metadata accomplishment-recipient">
                        <dt class="label sr-only">${_("Awarded to:")}</dt>
                        <dd class="value copy copy-meta">
                        <span class="recipient-img">
                            <img class="src" src="/static/certificates/images/demo-user-profile.png"
                                 alt="Recipient Image">
                        </span>
                            <div class="recipient-details">
                                <h3 class="recipient-name">${accomplishment_copy_name}</h3>
                                <p class="recipient-username">${accomplishment_copy_username} @ ${platform_name}</p>
                            </div>
                        </dd>
                    </dl>
                    <dl class="metadata accomplishment-id">
                        <dt class="label copy copy-meta">${certificate_id_number_title}:</dt>
                        <dd class="value copy copy-base">${certificate_id_number}</dd>
                    </dl>
                    <dl class="metadata accomplishment-date">
                        <dt class="label copy copy-meta">${certificate_date_issued_title}</dt>
                        <dd class="value copy copy-base">${certificate_date_issued}</dd>
                    </dl>
                </div>
            </div>
        </div>

</main>